.ng-scope p:not(.md-headline), .ng-scope span:not(.md-headline), .ng-scope a,
input, button, select, textarea, .ng-scope div {
  font-family: Roboto,Helvetica Neue,sans-serif !important;
}
.md-headline, .roboto-slab {
  font-family: 'Roboto Slab', serif !important;
}

.ng-scope input:focus:invalid:focus, 
.ng-scope textarea:focus:invalid:focus, 
.ng-scope select:focus:invalid:focus {
	box-shadow: none !important;
}
md-content.md-default-theme, md-content {
	background: transparent;
}