<style type="text/css">
  i.material-icons {
    position: relative;
    top: 3px;
    font-size: 16px;
    color: #fff;
  }

  .month {
    display: flex;
    width: 100%;
  }

  .monthBlock {
    display: block;
    margin-right: 0;
    margin-left: auto;
    padding-right: 20px;
  }

  .shared {
    display: inline-block;
    position: relative;
    width: 100%;
    background: rgb(72, 61, 139);
  }

  .shared > h4 {
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: 400;
		text-transform: uppercase;
  }

  .best>p {
    font-size: smaller;
    letter-spacing: 0.036em;
    line-height: 17px;
    font-family: Roboto, Helvetica Neue, sans-serif !important;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
    color: rgb(240, 248, 255);
  }

  .best span.field-name {
    color: white;
    text-transform: uppercase;
    font-size: smaller;
  }

  .best ul>li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    background-color: rgba(67, 71, 71, 0.2);
    padding-left: 5px;
  }

  md-content aside {
    display: block;
    width: 390px;
    margin-right: 20px;
    float: left;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-remove {
    margin: 0 !important;
  }

  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    color: rgb(225, 221, 221);
  }
</style>


<md-content class="md-padding" layout-xs="column" layout="row">
  <div style="display: inline-block; width: inherit; margin: auto;">
    <aside class="serverBlock" ng-repeat="article in articles track by article.id" ng-style="article.style">
      <div class="shared">
        <h4>{{ article.title }}</h4>
      </div>
      <div class="month">
        <div class="monthBlock">
          <h3 style="text-align: right; margin-bottom: 0;">
            <small>Adhésion annuelle</small>
          </h3>
          <h2 style="font-size: 200%; margin-top: 0; color: #fffdfc;">{{ article.cost | currency : 'AR ' }}</h2>
        </div>
      </div>
      <div class="best">
        <p>{{ article.description }}</p>
        <ul class="margin-remove">
          <li ng-repeat="field in article.fields">
            <span class="flaticon-checked8">
              <i class="material-icons">done</i>
            </span>
            <span class="field-name">{{ field }}</span>
          </li>
        </ul>
        <div style="margin-top: 30px">
          <md-button class="md-raised md-warn" style="margin: auto; display: block" choose-article="{{ article.id }}">
            Commander
          </md-button>
        </div>
      </div>
    </aside>
  </div>
</md-content>