<style type="text/css">
  i.material-icons {
    position: relative;
    top: 3px;
    font-size: 16px;
  }

  .month {
    display: flex;
    width: 100%;
  }

  .monthBlock {
    display: block;
    margin-right: 0;
    margin-left: auto;
    padding-right: 20px;
  }

  .shared {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 20px;
  }

  .shared>h4 {
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: 400;
  }

  .best>p {
    font-size: smaller;
    letter-spacing: 0.036em;
    line-height: 17px;
    font-family: Roboto, Helvetica Neue, sans-serif !important;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
  }

  .best span.field-name {
    text-transform: uppercase;
    font-size: smaller;
  }

  .best ul>li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    padding-left: 20px;
    border-radius: 20px 10px;
  }

  .md-button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }

  .margin-remove {
    margin: 0 !important;
  }

  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    color: rgb(98, 98, 98);
  }

/* ---- grid ---- */
@media screen and (max-width: 979px) {
  .grid-item {
    width: 100%;
  }
}
@media screen and (min-width: 979px) {
  .grid-item {
    width: 48%;
  }
}
.grid-item {
  display: inline-block;
  position: relative;
  margin: 5px;
}


</style>


<div>
  <div class="grid" masonry>
    <aside class="serverBlock grid-item" ng-repeat="article in articles track by article.id" ng-style="article.style.aside">
      <div class="shared" ng-style="article.style.shared">
        <h4 >{{ article.title }}</h4>
      </div>
      <div class="month">
        <div class="monthBlock">
          <h3 style="text-align: right; margin-bottom: 0;">
            <small>Adhésion annuelle</small>
          </h3>
          <h2 style="font-size: 200%; margin-top: 0" ng-style="article.style.h2">{{ article.cost | currency : 'AR ' }}</h2>
        </div>
      </div>
      <div class="best">
        <p>{{ article.description }}</p>
        <ul class="margin-remove">
          <li ng-repeat="field in article.fields" ng-style="article.style.list">
            <span class="flaticon-checked8">
              <i class="material-icons">done</i>
            </span>
            <span class="field-name">{{ field }}</span>
          </li>
        </ul>
        <div style="margin-top: 30px; margin-bottom: 25px;">
          <md-button class="md-raised md-warn" style="margin: auto; display: block" ng-style="article.style.shared" choose-article="{{ article.id }}">
            Commander
          </md-button>
        </div>
      </div>
    </aside>
  </div>
</div>