.ng-scope p, .ng-scope span, .ng-scope a,
input, button, select, textarea, .ng-scope div {
  font-family: Roboto,Helvetica Neue,sans-serif !important;
}
.floating {
  width: 250px;
  display: inline-block;
}
md-dialog {
  min-width: 840px;
}
md-dialog.md-transition-in, md-dialog.md-transition-out {
  -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
  transition: all .4s cubic-bezier(.25,.8,.25,1);
}

md-list > md-list-item:nth-child(2n+1) {
  background: rgba(247, 246, 245, 0.4) !important;
}

.ng-scope input:focus:invalid:focus, 
.ng-scope textarea:focus:invalid:focus, 
.ng-scope select:focus:invalid:focus {
	box-shadow: none !important;
}
md-content.md-default-theme, md-content {
	background: transparent;
}

.ng-scope textarea {
	box-shadow: none !important;
}